// FONTS
$inter-font: Inter, sans-serif;
$gilroy-font: Gilroy, sans-serif;


//BASE
$primary-color: #3E97FF;
$primary-color-100: #EEF6FF;
$primary-color-500: #2884EF;
$secondary-color: rgba(62, 151, 255, 0.2);
$primary-color-gray: rgba(249, 249, 249, 1);
$primary-color-gray-600: #7E8299;
$primary-color-gray-200: #F1F1F2;

//HEADER
$active-header-link-bg-color: #1a1a1a;
